      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="image d-inline-block">
              <img src="/assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
            </div>
            <div class="d-inline-block info">
              <p>Mr Melvin</p>

              <a href="#">CEO</a>
            </div>
          </div>
          <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
              <a href="/admin">
                <span>Home</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/admin/users">
                <span>Users</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/admin/orders">
                <span>Orders</span>
              </a>
            </li>
            <li class="treeview">
              <a href="/admin/messages">
                <span>Messages</span>
              </a>
            </li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
