<ion-header>

  <ion-navbar>
    <ion-title>
      Spinclinix
    </ion-title>
  </ion-navbar>
  <ion-segment>
    <ion-segment-button (click)="setStrategy(1)">
      Sign Up
    </ion-segment-button>
    <ion-segment-button (click)="setStrategy(2)">
      Log in
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="strategy">
    <form *ngSwitchCase="1"  [formGroup]="signupForm" (submit)="signupUser()" novalidate>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Your email address"
          [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input formControlName="password" type="password"  placeholder="Your password"
          [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>

      <button ion-button block type="submit">
        Create an Account
      </button>

    </form>

    
    <form *ngSwitchCase="2" [formGroup]="loginForm" (submit)="loginUser()" novalidate>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input #email formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input #password formControlName="password" type="password" placeholder="Your password" [class.invalid]="!loginForm.controls.password.valid &&
            loginForm.controls.password.dirty"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
        <p>Your password needs more than 6 characters.</p>
      </ion-item>

      <button ion-button block type="submit">
        Login
      </button>
      <button ion-button block clear (click)="goToResetPassword()">
        I forgot my password 🙁
      </button>
    </form>

  </div>

</ion-content>
